<% subtitle "Edit CPU Profile" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'CPU Profiles', cpu_profiles_path %>
  / Edit CPU Profile
</h1>

<br/>

<%= render :partial => 'form' %>
