<% subtitle "New CPU Profile" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Available CPU Profiles', cpu_profiles_path %>
  / New CPU Profile
</h1>

<br/>

<%= render :partial => 'form' %>
