<%= javascript_tag "$('provider_accounts_total').innerHTML = '#{@provider_accounts.total_entries}';" %>
<div id="provider_accounts">

<%= will_paginate_remote @provider_accounts, 'provider_accounts' %>

<table class="sortable" id="provider_accounts_table">
  <thead>
  <tr>
    <th class="unsortable"><% if @provider_accounts.total_entries > 0 %><%= select_all_check_box 'select_all' %><% end %></th>
    <th>
      Name
    </th>
    <th>
      Account Group
    </th>
    <th>
      Description
    </th>
    <th>
      Instances
    </th>
    <th>Cost This Month</th>
    <th>Projection</th>
    <th class="unsortable">
      Last Refreshed
    </th>
  </tr>
  </thead>
  <tbody id="provider_account_records">
    <%= render :partial => "provider_account", :collection => @provider_accounts %>
  </tbody>
</table>

</div>
