<table>
  <thead>
    <tr>
      <th>Check Protocol / Port / Path / Interval</th>
      <th>Timeout</th>
      <th>Unhealthy / Healthy Thresholds</th>
    </tr>
  </thead>
  <tbody id="health_checks">
    <%= render :partial => "health_checks/health_check", :collection => @load_balancer.health_checks %>
  </tbody>
</table>