<% subtitle "Edit OS Type" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'OS Types', os_types_path %>
  / Edit OS Type
</h1>

<br/>

<%= render :partial => 'form' %>
