<% subtitle "New OS Type" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Available OS Types', os_types_path %>
  / New OS Type
</h1>

<br/>

<%= render :partial => 'form' %>
