<% subtitle "New IO Profile" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'IO Profiles', io_profiles_path %>
  / New IO Profile
</h1>

<br/>

<%= render :partial => 'form' %>
