<% subtitle "New Account Group" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Available Account Groups', account_groups_path %>
  / New Account Group
</h1>

<br/>

<%= render :partial => 'form' %>
