<table>
  <tr>
    <th>Name</th>
    <th>DNS Name</th>
    <th>Port Configuration</th>
    <th>Zones</th>
    <th>Action</th>
  </tr>
  <tbody id="provider_account_load_balancers">
    <%= render :partial => 'list', :locals => { :load_balancers => @load_balancers } %>
  </tbody>
</table>

<hr>

<div id="add_load_balancer" <% unless @provider_account.can_use_more_of?('LoadBalancer') %>style="display:none;"<% end %>>
  <%= new_provider_account_load_balancer_button 'add', @provider_account %>
</div>

<div id="edit_load_balancer" style="display:none;overflow:auto;"></div>
