<%= add_provider_account_load_balancer_link('Add', @provider_account) %>
<hr/>
<table>
  <tr>
    <th>Name</th>
    <th>DNS Name</th>
    <th>Port Configuration</th>
    <th>Zones</th>
    <th>Action</th>
  </tr>
  <tbody id="provider_account_load_balancers">
    <%= render :partial => 'list', :locals => { :load_balancers => @load_balancers } %>
  </tbody>
</table>